.card-backgound{
    background-color: #F4FAFD;
}

.join-section{
    padding-right:500px;
}
.skill{
    color: #777777;
}
footer{
    height: 472px;
    background-color: #161616;
}
.overlay{
    filter:brightness(50%);
}
.icon-color{
    color: #777777;
}
.img-fixed{
    
    height:500px;
    width:500px;
    
}
.star-color{
    color: #FBBF24;
}
.course-amount{
    color:#289BDE
}
@media only screen and (min-width:669px) and (max-width:992px){
    .course-banner-img{
        height:200px;
        width:200px;
    }

}




