.card-backgound{
    background-color: #F4FAFD;
}

.join-section{
    padding-right:500px;
}
.skill{
    color: #777777;
}
footer{
    height: 472px;
    background-color: #161616;
}
.overlay{
    filter:brightness(50%);
}
.icon-color{
    color: #777777;
}
